<div id="navigationMenu" class="bg-dark row">
	<div class="col-3"></div>
	<form action="/home" class="col-1">
		<input class="navButton btn btn-secondary text-light" id="Home" action="/home" type="submit" method="get" value="Home" />
	</form>
	<form action="/search"class="col-1">
		<input class="navButton btn btn-secondary text-light" id="Search" action="/search" type="submit" method="get" value="Search"/>
	</form>
	<form action="/favorites"class="col-1">
		<input class="navButton btn btn-secondary text-light" id="Favorites" action="/favorites" type="submit" method="get" value="Favorites"/>
	</form>
	<form action="/recommendations" enctype="application/json"class="col-1">
		<input class = "navButton btn btn-secondary text-light" id="Recommendations" action="/recommendations" type="submit" method="get" value="Suggestions"/>
	</form>
	<form action="/settings"class="col-1">
		<input class="navButton btn btn-secondary text-light" id="Settings" action="/settings" type="submit" method="get" value="Settings"/>
	</form>
	<form action="/logout"class="col-1">
		<input class="navButton btn btn-secondary text-light" id="Logout" action="/" type="submit" method="get" value="Logout"/>
	</form>
	<div class="col-3"></div>
	{{!-- <img class="icon" id="navIcon" src='clapper-icon.png'/> --}}
</div>