<!DOCTYPE html>
<html>

<head>
    <title>MyMovieList - Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{> style}}
</head>

<body>
    {{> navigation}}
    <div class="contentDiv" id="searchPage">
        <h1>Search TheMovieDB</h1>
        <form id="search-form" enctype="application/json" action="/search" method="post">
            <input class="searchForm" id="advancedSearchButton" type="button" value="Menu">
            <input class="searchForm" id="searchQuery" name="searchQuery" type="text" placeholder="Enter Movie Title" value="" />
        	<input class="searchForm" id="searchButton" type="submit" value="Search" />
        </form>
        <div class="results" id="searchResults">
        	{{{parsed}}}
        </div>
        <div id="searchControls" class="jumbotron container bg-dark"> 
            <div class="row">
                <div class="bg-light col">Search By</div>
                <button type="button" class="btn btn-primary col" id="searchByTitles">Titles</button>
                <button type="button" class="btn btn-secondary col" id="searchByDirectors">Directors</button>
                <button type="button" class="btn btn-secondary col" id="searchByActors">Actors</button>
            </div>
            <br />
            <div class="row">
                <div class="bg-light col">Sort By</div>
                <button type="button" class="btn btn-primary col" id="sortByTitles">Titles</button>
                <button type="button" class="btn btn-secondary col" id="sortByRatings">Ratings</button>
                <button type="button" class="btn btn-secondary col" id="sortByDates">Dates</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        
        var checked = 0;
        var searchByTitles = document.getElementById("searchByTitles");
        var searchByDirectors = document.getElementById("searchByDirectors");
        var searchByActors = document.getElementById("searchByActors");

        var sortByTitles = document.getElementById("sortByTitles"),
            sortByRatings = document.getElementById("sortByRatings"),
            sortByDates = document.getElementById("sortByDates");

        function selectSearchMethod(el){
            if (el == searchByTitles) {
                el.className = "btn btn-primary col";
                searchByDirectors.className = "btn btn-secondary col";
                searchByActors.className = "btn btn-secondary col";
            } else if (el == searchByDirectors) {
                el.className = "btn btn-primary col";
                searchByActors.className = "btn btn-secondary col";
                searchByTitles.className = "btn btn-secondary col";
            } else if (el == searchByActors) {
                el.className = "btn btn-primary col";
                searchByDirectors.className = "btn btn-secondary col";
                searchByTitles.className = "btn btn-secondary col";
            }
        }

        function selectSortingMethod(el){
            if (el == sortByDates) {
                el.className = "btn btn-primary col";
                sortByRatings.className = "btn btn-secondary col";
                sortByTitles.className = "btn btn-secondary col";
            } else if (el == sortByRatings) {
                el.className = "btn btn-primary col";
                sortByDates.className = "btn btn-secondary col";
                sortByTitles.className = "btn btn-secondary col";
            } else if (el == sortByTitles) {
                el.className = "btn btn-primary col";
                sortByDates.className = "btn btn-secondary col";
                sortByRatings.className = "btn btn-secondary col";
            }
        }

        searchByTitles.addEventListener("click", function(){
            selectSearchMethod(this);
        });

        searchByActors.addEventListener("click", function(){
            selectSearchMethod(this);
        });

        searchByDirectors.addEventListener("click", function(){
            selectSearchMethod(this);
        });

        sortByDates.addEventListener("click", function(){
            selectSortingMethod(this);
        });

        sortByRatings.addEventListener("click", function(){
            selectSortingMethod(this);
        });

        sortByTitles.addEventListener("click", function(){
            selectSortingMethod(this);
        });

        document.getElementById("advancedSearchButton").addEventListener("click", function(){
            //menu open/close
            if (!checked) {
                document.getElementById("searchControls").style.display = "block";
                checked = 1;
            } else {
                document.getElementById("searchControls").style.display = "none";
                checked = 0;
            }     
        })

    </script>
</body>

</html>