<!DOCTYPE html>
<html>

<head>
    <title>MyMovieList - Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{> style}}
</head>

<body>
    <div id="bannerAndNav" class="container-fluid bg-dark" style="z-index: 5">
        <div id="banner" class="row">Search TheMovieDB</div>
        <div id="navigationDiv" class="row navbar bg-dark">{{> navigation}}</div>
        <div id="searchControls" class="p-3 container bg-dark"> 
            <div class="row">
                <div class="bg-light col-3">Search By</div>
                <button type="button" class=" btn btn-primary col-3" id="searchByTitles">Titles</button>
                <button type="button" class=" btn btn-secondary col-3" id="searchByDirectors">Directors</button>
                <button type="button" class=" btn btn-secondary col-3" id="searchByActors">Actors</button>
            </div>
            <br />
            <div class="row">
                <div class="bg-light p-2 col-3">Sort By</div>
                <button type="button" class="p-2 btn btn-primary col-3" id="sortByRelevance">Relevance</button>
                <button type="button" class="p-2 btn btn-secondary col-3" id="sortByTitles">Titles</button>
                <button type="button" class="p-2 btn btn-secondary col-3" id="sortByDates">Dates</button>
            </div>
        </div>
    </div>
    <div id="search-div" class="container-fluid">
        <form class="bg-dark row align-middle text-center" id="search-form" enctype="application/json" action="/search" method="post">
            <div class="col-2"></div>
            <input class="col-1 searchForm btn-sm btn btn-secondary text-light" id="advancedSearchButton" type="button" value="Menu" />
            <input class="col-6 searchForm" id="searchQuery" name="searchQuery" type="text" placeholder="Enter Movie Title" value="" />
            <input class="col-1 searchForm btn-sm btn btn-secondary text-light" id="searchButton" type="submit" value="Search" />
            <input id="searchChoice" name="searchChoice" type="text" style='display:none' value="Titles" />
            <input id="sortChoice" name="sortChoice" type="text" style='display:none' value="Relevance" />
            <div class="col-2"></div>
        </form>
    </div>

    <div id="searchResults" class="container-fluid">
       <div class="row">{{{parsed}}}</div>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        
        var checked = 0;
        var searchByTitles = document.getElementById("searchByTitles");
        var searchByDirectors = document.getElementById("searchByDirectors");
        var searchByActors = document.getElementById("searchByActors");

        var sortByTitles = document.getElementById("sortByTitles"),
            sortByRelevance = document.getElementById("sortByRelevance"),
            sortByDates = document.getElementById("sortByDates");

        function selectSearchMethod(el){
            if (el == searchByTitles) {
                el.className = "btn btn-primary col-3";
                searchByDirectors.className = "btn btn-secondary col-3";
                searchByActors.className = "btn btn-secondary col-3";
                document.getElementById("searchChoice").value = "Titles";
            } else if (el == searchByDirectors) {
                el.className = "btn btn-primary col-3";
                searchByActors.className = "btn btn-secondary col-3";
                searchByTitles.className = "btn btn-secondary col-3";
                document.getElementById("searchChoice").value = "Directors";
            } else if (el == searchByActors) {
                el.className = "btn btn-primary col-3";
                searchByDirectors.className = "btn btn-secondary col-3";
                searchByTitles.className = "btn btn-secondary col-3";
                document.getElementById("searchChoice").value = "Actors";
            }
        }

        function selectSortingMethod(el){
            if (el == sortByDates) {
                el.className = "p-2 btn btn-primary col-3";
                sortByRelevance.className = "p-2 btn btn-secondary col-3";
                sortByTitles.className = "p-2 btn btn-secondary col-3";
                document.getElementById("sortChoice").value = "Dates";
            } else if (el == sortByRelevance) {
                el.className = "p-2 btn btn-primary col-3";
                sortByDates.className = "p-2 btn btn-secondary col-3";
                sortByTitles.className = "p-2 btn btn-secondary col-3";
                document.getElementById("sortChoice").value = "Relevance";
            } else if (el == sortByTitles) {
                el.className = "p-2 btn btn-primary col-3";
                sortByDates.className = "p-2 btn btn-secondary col-3";
                sortByRelevance.className = "p-2 btn btn-secondary col-3";
                document.getElementById("sortChoice").value = "Titles";
            }
        }

        searchByTitles.addEventListener("click", function(){
            selectSearchMethod(this);
        });

        searchByActors.addEventListener("click", function(){
            selectSearchMethod(this);
        });

        searchByDirectors.addEventListener("click", function(){
            selectSearchMethod(this);
        });

        sortByDates.addEventListener("click", function(){
            selectSortingMethod(this);
        });

        sortByRelevance.addEventListener("click", function(){
            selectSortingMethod(this);
        });

        sortByTitles.addEventListener("click", function(){
            selectSortingMethod(this);
        });

        document.getElementById("advancedSearchButton").addEventListener("click", function(){
            //menu open/close
            if (!checked) {
                document.getElementById("searchControls").style.display = "block";
                checked = 1;
            } else {
                document.getElementById("searchControls").style.display = "none";
                checked = 0;
            }     
        })



    </script>
</body>

</html>
